@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-body: "Red Hat Display", sans-serif;
  --font-color: rgba(0, 0, 0, 0.8);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f0c53e;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--font-color);
}
.btn-outline-success {
  color: #0437ac;
  border-color: #0437ac;
}
.btn-outline-success:hover {
  background-color: #0437ac;
}
.bg-image {
  background-image: url(./assets/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  border-radius: 10px;
}
.card-img,
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
}
.height-30 {
  height: 150px;
}
#welcome-summer {
  background-color: #e1f0f4;
}
.card-left-radius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}
